<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-header.css">
    <link rel="stylesheet" href="css/styles-footer.css">

    <link rel="stylesheet" href="css/styles-Form.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Coffe & Books</title>
</head>

<body>
    <%- include('partials/mainHeader.ejs') %>

        <main>
            <section class="add">
                <h1>Add products</h1>

                    <div class="formBox">

                            <form action="/" method="post">

                                <label for="ProductName"></label>
                                <input type="text" name="ProductName" id="ProductName" placeholder="Product's name">

                                <label for="ProductDescription"></label>
                                <input type="text" name="ProductDescription" id="ProductDescription" placeholder="Product's Description">

                                <label for="ProductImage"></label>
                                <input type="file" name="ProductImage" id="ProductImage" placeholder="Product's image">

                                <label for="PoductCategory"></label>
                                <input type="text" name="ProductCategory" id="ProductCategory" placeholder="Product's category">

                                <label for="ProductSize"></label>
                                <input type="text" name="ProductSize" id="ProductSize" placeholder="Product's Size">

                                <label for="Price"></label>
                                <input type="text" name="Price" id="Price" placeholder="Produc't price">
                            </form>
                        </div>
                    
                
            </section>

            <div class="button">

            <button type="submit"> Add Book </button>
            
            </div>

        </main>
        <%- include('partials/mainFooter.ejs') %>
</body>

</html>